<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <header>
        <h2>Home Page </h2>
        <button onclick="location.href = '/dashboard/login'">Admin Login</button>
        <button onclick="location.href = '/students/login'">Student Login</button>
        <button onclick="location.href = '/students/register'">New Student Registration</button>
<br>
<h1 color="red">Working on it!</h1>
    </header>
</body>
</html>
