<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/addStudents.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Registration</title>
</head>
<body>
    <form id="form" action="/students/add">
        <section class="slide slide-1">
        <h1 class="title">Student Registration</h1>
        <label class="box-title" for="container">Student info</label>
        <section id="container" class="input-container">
        <div class="box">
        <label for="name">Student name* </label>
        <input type="text" name="name" id="name" autofocus/>
        </div>
        <br>
        <div class="box">
        <label for="email">Email.* </label>
        <input type="email" name="email" id="email"/>
        </div>
        <br>
        <div class="box" style="z-index: 3;">
        <label for="dept">Depertment* </label>
        <details id="dept" class="select-options">
        <summary id="summary">
            <li value="not"> not selected</li>
        </summary>
        <ul>
        <% dept_info.forEach(dept => { %>
            <li class="option" value="<%= dept.id %>"><%= dept.dept_name %></li>
        <% }) %>
        </ul>
        </details>
        </div>
        <br>
        <div class="box" style="z-index: -1;">
        <label for="phone">Phone No* </label>
        <input id="phone" type="number">
        </div>
        </section>
        </section>
        <section class="slide slide-2">
        <label class="box-title" for="container">Qualification</label>
        <section id="container" class="input-container">
        <div class="box">
        <label for="school">School*</label>
        <input type="text" name="school" id="school"/>
        </div>
        </section>
        <br>
        </section>

        <section class="slide slide-3" id="varifyEmailOtp">
        <label class="box-title" for="container">E-Mail varification</label>
        <section id="container" class="input-container">
        <div class="box">
            <label for="email-varify">Email</label>
            <input type="email-varify" name="email-varify" readonly id="email-varify"/>
        </div>
        <br>
            <p class="otp" id="otp-info">
                <span>Requesting an OTP<span id="loading-dot-anime"></span></span>
                <span id="counter" style="float:right; padding-left: 4px">resend after 30</span>
                <span style="float: right;" id="resend"> Request a new OTP!</span>
            </p>
            <br>
        <div class="box">
            <label for="otp">OTP</label>
            <input type="text" name="otp" id="otp" autocomplete="0"/>
            </div>
        </section>
        <br>
        </section>
        <div class="slide-controller">
        <button class="secondery-btn" type="button" id="previous">Previous</button>
        <input class="primary-btn" type="submit" value="Next" id="next">
        </div>
    </form>
    <script src="/js/register.js"></script>
</body>
</html>