<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <button onclick="location.href = '/students/logout'">
        Log Out
    </button>
    <br>
    <table border="1" style="border-collapse: collapse;">
        <tr>
        <% Object.keys(std_info).forEach(heading => { %>
            <th><%= heading %></th>
        <% }) %>
        </tr>
        <tr>
        <% Object.keys(std_info).forEach(element => { %>
            <td><%= std_info[element] %></td>
        <% }) %>
        </tr>
    </table>
<br>
<h1 style="color: red">work in progress!</h1>
</body>
</html>
