* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    cursor: url('/res/cursor.svg') 10 10, auto;
}
:root {
    --theme-color: #fff;
    --primary-text-color: #222;
    --select-shadow: 0px 5px 30px 0px #b1c5e489;
    --secondery-btn-bg: #02000009;
    --secondery-btn-color: #121212dd;
    --primary-btn-bg: #121212dd;
}
::spelling-error {
    text-decoration: none;
}
::selection {
    background: #60ff0a65;
}
*:is(input):not(input[type='submit']) {
    font-family: 'Times New Roman', Times, serif;
}
*:is(select) {
    font-family: 'Times New Roman', Times, serif;
}
body {
    height: 100dvh;
    background-color: var(--theme-color);
    color: var(--primary-text-color);
    display: grid;
    place-items: center;
    font-family: 'Times New Roman', Times, serif;
}
form {
    border: 1px solid transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: clamp(100px, 90%, 600px);
    border-radius: 10px;
    padding: 30px 0px;
    position: relative;
    box-shadow: 11px 11px 300px 0px rgba(0, 0, 0, 0.073), -11px -11px 300px 0px rgba(95, 162, 220, 0.115);
}
form .box input {
    height: 40px;
    border-radius: 10px;
    width: 100%;
    border: 1px solid transparent;
    font-size: 17px;
    margin: auto auto;
    padding-left: 8px;
    background: #3284ff0b;
}
form .box select {
   padding-left: 5px;
}
form .box input:focus {
    outline: 1px solid rgba(31, 141, 244, 0.271);
    background: rgba(137, 200, 236, 0.032);
}
input[type="submit"]:hover {
    transition: .3s ease-out;
    box-shadow: 3px 3px 50px 0px rgba(0, 255, 123, 0.637);
}
form .box {
    height: 46px;
    width: 100%;
    margin-bottom: 10px;
}
form .box label {
  
}
form .box input:hover, form .box select:hover {
    background: rgba(137, 200, 236, 0.032);
}
form .title {
    padding-bottom: 30px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(3, 47, 50);
}
.box-title {
    align-self: flex-start;
    margin: 4px auto 10px 20px;
    padding: 3px;
    position: relative;
}
.box-title::before {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    width: 150%;
    height: 1px;
    background: #121212dd;
}
.input-container {
    /* border: 1px solid red; */
    width: 80%;
}
input:invalid {
    border-bottom: #d44;
    box-shadow: none;

}
input:invalid:focus:invalid {
    outline: none;
}
.box {
    /* border: 1px solid lime; */
}
.select-options {
    user-select: none;
    background-color: transparent;
    border-radius: 10px;
    width: 100%;
    border: 1px solid transparent;
    font-size: 17px;
    margin: auto auto;
    background: #3284ff0b;
    z-index: 1;
    overflow: visible;
    position: relative;
}
.select-options > summary {
    list-style: none;
    cursor: pointer;
    height: 40px;
    padding-left: 8px;
    /* border: 1px solid red; */
    align-content: center;
}
.select-options > summary::after {
    content: '>';
    background-color: #2d2d2d09;
    border: 1px solid #2d2d2d0f;
    border-radius: 50%;
    height: 50%;
    aspect-ratio: 1 / 1;
    display: grid;
    place-items: center;
    font-size: large;
    cursor: pointer;
    position: absolute;
    right: 4%;
    top: 50%;
    font-weight: 900;
    transform: translateY(-50%) rotate(90deg);
    cursor: pointer;
}
.select-options > summary:hover::after {
    background-color: #2d2d2d0e;
}
.select-options[open] {
    box-shadow: var(--select-shadow);
    background-color: var(--theme-color);
}
.select-options > ul {
    backdrop-filter: blur(30px);
    box-shadow: var(--select-shadow);
    position: absolute;
    width: 100%;
    list-style: none;
    background-color: rgba(255, 255, 255, .9);
    max-height: 200px;
    overflow: scroll;
    overflow-x: hidden;
    border-radius: 0px 0px 10px 10px;
}
::-webkit-scrollbar {
    width: 0px;
}
.select-options > ul li {
    padding: 10px;
    transition: border .3s ease-out;
    border: 1px solid transparent;
    cursor: pointer;
}
.option {
    position: relative;
}
.option::before {
    position: absolute;
    content: '';
    width: 2px;
    height: 100%;
    left: 0;
    top: 0;
}
.option:is(.selected)::before {
    background: rgba(0, 0, 0,.5);
}
.select-options > ul li:hover {
    border-bottom: 1px solid rgb(0, 0, 0,.2);
}
.slide:not(.slide-1) {
    display: none;
}
.slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
    animation: fade-in .4s ease-in  1;
}
@keyframes fade-in {
    from {
        transform: translateX(-2%);
        opacity: 0;
    } to {
        transform: translateX(0%) ;
        opacity: 1;
    }
}
.primary-btn, .secondery-btn {
    border: 1px solid transparent;
    cursor: pointer;
}
.secondery-btn {
    background-color: var(--secondery-btn-bg);
    color: var(--secondery-btn-color);
    border: 1px solid #5551;
}
.primary-btn {
    background-color: var(--primary-btn-bg);
    color: var(--theme-color);
}
input[type="submit"], #previous {
    height: 40px;
    width: 70%;
    border-radius: 10px;
    transition: .6s ease;
}
#previous {
    color: #121212dd;
    background-color: rgba(2, 0, 0, 0.036);
}
input[type="submit"] {
    width: 80%;
}
#previous:hover {
    /* background-color: rgba(0, 0, 0, 0.082); */
    box-shadow: inset 0px 0px 30px 0px rgba(92, 4, 4, 0.067), 3px 3px 80px 0px rgba(254, 129, 3, 0.608);
}

.slide-controller {
    margin-top: 20px;
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}
#resend {
    color: var(--primary-text-color);
    transition: .5s;
}
#resend:hover {
    text-decoration: underline 1px var(--primary-text-color);
}